.btn-edit,.btn-remove{font-family:Monaco}
.panel-heading h5{display:inline}
.btn-group{margin-left:1em}
.btn-group.confirmation{margin:0;width:140px}
.input-sm{height:23px}
.ui-sortable-helper{opacity:.95;box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-transform:scale(1.05,1.05) rotate(.6deg)}
i.icon-reorder{margin-right:10px;cursor:-webkit-grab}
thead th{text-align:center}
tbody td:nth-child(n+2){text-align:right}
tbody td:last-child{font-weight:bold}
tfoot th:nth-child(n+2){text-align:right}
