.container
  .row
    .page-header
      h1
        a(href="/") Zeit
        small  Keeping track of&hellip; 
        small(contenteditable="true", ng-model="frame.name")
        .btn-group.pull-right
          button.btn.btn-sm.btn-default(ng-click="saveFrame()", ng-class="{disabled: saving}") Save this frame
          button.btn.btn-sm.btn-default(ng-click="cloneFrame()") Clone this frame
          button.btn.btn-sm.btn-primary(ng-click="startNewProject()") Start new project
  .row(sortable, sortable-handle=".icon-reorder", ng-model="frame.projects")
    .panel.panel-default(ng-repeat="project in frame.projects")
      .panel-heading
        i.icon-reorder
        h5(contenteditable="true", ng-model="project.name")
        .btn-group
          button.btn.btn-xs.btn-default.btn-edit(ng-click="cloneProject(project, $index)") cp
          button.btn.btn-xs.btn-default.btn-edit(ng-click="mergeProjects($index)") cat
          button.btn.btn-xs.btn-default.btn-remove(confirmation, yep="removeProjectAt($index)") rm
        .pull-right
          span.badge {{ timeSpentOnProject(project) | duration }}
          button.btn.btn-xs.btn-primary.btn-startnewtask(ng-click="startNewTask(project)") start new task
      .list-group(sortable, sortable-handle=".icon-reorder", ng-model="project.tasks")
        a.list-group-item(ng-repeat="task in project.tasks", ng-click="playPause(task)", ng-class="{active: isActive(task)}", ng-mouseenter="showTaskActions=true", ng-mouseleave="showTaskActions=false")
          i.icon-reorder
          span(contenteditable="true", ng-model="task.name")
          .btn-group(ng-show="showTaskActions")
            button.btn.btn-xs.btn-default.btn-edit(ng-click='editTask(task); $event.stopPropagation();') vi
            button.btn.btn-xs.btn-default.btn-edit(ng-click='cloneTask(task, project, $index); $event.stopPropagation();') cp
            button.btn.btn-xs.btn-default.btn-edit(ng-click="mergeTasks(project, $index); $event.stopPropagation();") cat
            button.btn.btn-xs.btn-default.btn-remove(confirmation, yep='removeTaskAt($index, project)') rm
          span.badge
            span(ng-show="! isActive(task)") {{ timeSpent(task) | duration }}
            span(ng-show="isActive(task)"): i.icon-spinner.icon-spin

  .row(ng-controller='SummaryController', ng-show="frame.projects.length > 0")
    hr
    table.table.table-bordered.table-hover.table-striped(style="font-size:0.8em")
      thead
        tr
          th(rowspan=2, width="7%")
          th(ng-repeat="project in frame.projects", colspan="{{project.tasks.length}}") {{project.name}}
          th(rowspan=2, width="4%") Total
        tr
          th(ng-repeat="task in allTasks", width="{{89/allTasks.length}}%") {{task.name}}
      tbody
        tr(ng-repeat="date in allDates")
          td {{date}}
          td(ng-repeat="task in allTasks") {{ timeSpentOnDateDoingTask(date, task) | number:2}}
          td {{ timeSpentOnDate(date) | number:2 }}
      tfoot
        tr
          th Total
          th(ng-repeat="task in allTasks") {{ timeSpentDoingTask(task) | number:2 }}
          th {{ timeSpent() | number:2 }}

#merge-projects-modal.modal.fade(ng-controller='MergeProjectsController', tab-index='-1', role='dialog'):.modal-dialog: .modal-content
  .modal-header
    button.close(data-dismiss='modal')&times;
    h4.modal-title Merge projects in frame "{{ $scope.frame.name }}"
  .modal-body
    .container
      .row
        .col-xs-6
          .panel.panel-default
            .panel-heading: h5 Merge&hellip;
            .list-group
              a.list-group-item(ng-repeat="project in mergeableProjects", ng-click="toggleSrc(project)", ng-class="{active: project.mergeSrc}")
                span {{ project.name }}
                span.badge {{ project.duration | duration }}
        .col-xs-6
          .panel.panel-default
            .panel-heading: h5 Into&hellip;
            .list-group
              a.list-group-item(ng-repeat="project in mergeableProjects", ng-click="toggleDst(project)", ng-class="{active: project.mergeDst}")
                span {{ project.name }}
                span.badge {{ project.duration | duration }}
  .modal-footer
    button.btn.btn-sm.btn-link(data-dismiss='modal') close
    button.btn.btn-sm.btn-default(confirmation, yep="merge()", ng-disabled="! $parent.canMerge()") Merge

#merge-tasks-modal.modal.fade(ng-controller='MergeTasksController', tab-index='-1', role='dialog'):.modal-dialog: .modal-content
  .modal-header
    button.close(data-dismiss='modal')&times;
    h4.modal-title Merge tasks in project "{{ mergeableProject.name }}"
  .modal-body
    .container
      .row
        .col-xs-6
          .panel.panel-default
            .panel-heading: h5 Merge&hellip;
            .list-group
              a.list-group-item(ng-repeat="task in mergeableTasks", ng-click="toggleSrc(task)", ng-class="{active: task.mergeSrc}")
                span {{ task.name }}
                span.badge {{ task.duration | duration }}
        .col-xs-6
          .panel.panel-default
            .panel-heading: h5 Into&hellip;
            .list-group
              a.list-group-item(ng-repeat="task in mergeableTasks", ng-click="toggleDst(task)", ng-class="{active: task.mergeDst}")
                span {{ task.name }}
                span.badge {{ task.duration | duration }}
  .modal-footer
    button.btn.btn-sm.btn-link(data-dismiss='modal') close
    button.btn.btn-sm.btn-default(confirmation, yep="merge()", ng-disabled="! $parent.canMerge()") Merge

#edit-modal.modal.fade(tab-index='-1', role='dialog'): .modal-dialog: .modal-content
  .modal-header
    button.close(data-dismiss='modal')&times;
    h4.modal-title Edit task "{{editedTask.name}}"
  .modal-body
    form(role="form")
      .form-group
        label Task name
        input.form-control(type="text", ng-model="editedTask.name")
    table.table.table-striped
      thead
        th Notes
        th From
        th To
        th(width="60px")
          button.btn.btn-xs.btn-primary(ng-click='addEntry(editedTask)') add 1
      tbody
        tr(ng-repeat="entry in editedTask.entries")
          td: input.input-sm.form-control(type="text", ng-model="entry.notes")
          td: input.input-sm.form-control(type="datetime-local", ng-model="entry.start")
          td: input.input-sm.form-control(type="datetime-local", ng-model="entry.end")
          td
            button.btn.btn-xs.btn-default.btn-remove(confirmation, yep='removeEntryAt($index, editedTask)')
              i.icon-remove
              |  rm
      tfoot
        th(colspan=4)
          .pull-right(ng-show="editedTask.entries.length > 1")
            button.btn.btn-xs.btn-warning(confirmation, yep='clearEntries(editedTask)') clear all
